aiohttp
altair
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
exceptiongroup
gitdb
GitPython
h11
httpx
idna
Jinja2
joblib
jsonschema
langchain
langchain-community
langchain-core
langchain-ollama==0.2.3
MarkupSafe
marshmallow
numpy
ollama==0.4.7
pandas
pillow
pydantic
python-dateutil
python-dotenv
pytest
PyYAML
requests
scikit-learn
scipy
SQLAlchemy
streamlit
tenacity
tqdm
typing_extensions
urllib3
watchdog
